$section-height: 100vh;
$section-header-width: 610px;
$section-header-font-size: 6rem;
$section-header-border-width: 4px;

$skill-label-font-weight: 400;

$section-landing-content-width: 60%;

$section-content-width: 90%;


$section-content-padding-top: 5rem;

$color-material-white: #fafafa;
$color-light-green: #9CCC65;