$section-height: 100vh;
$section-min-height: 1200px;
$section-header-width: 610px;
$section-header-font-size-desktop: 6rem;
$section-header-font-size-mobile: 3.6rem;
$section-landing-header-font-size-mobile: 4rem;
$section-header-border-width: 4px;

$skill-label-font-weight: 400;

$section-landing-content-width: 60%;

$section-content-max-width: 1440px;


$section-content-padding-top: 6rem;

$color-material-white: #fafafa;
$color-light-green: #9CCC65;

// responsive mixins
@mixin for-phone {
  @media (max-width: 600px) {
    @content;
  }
}

@mixin for-tablet {
  @media (min-width: 601px) and (max-width: 900px) {
    @content;
  }
}

@mixin for-desktop {
  @media (min-width: 901px) {
    @content;
  }
}